@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*GOOGLE FONTS ELEGIR FUENTE */

/* "*"SIGNIFICA QUE ES PARA TODA LA PAGINA , ESTABLEZCO PARAMETROS*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    margin : 0; /* 0 MARGEN , PEGADO A LA ESQUINA SUPERIOR Y A LA DERECHA */    
}
 main div p {
    font-family: 'Pacifico', cursive;
    width: 100%;
    height: 100%;
 }

 main div h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 1PX;
    color: blanchedalmond;
 }

 main h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: rgb(143, 130, 223);
 }

/* ES CON "." A DIFERENCIA DE ANTES , PORQUE ES DE CLASE"   */
.lista-projectos{
    display: flex; /* ALINEADOS */ 
    flex-wrap: wrap; /* SI OCUPA EL 100% DE LA PAGINA , LOS MANDA PARA ABAJO SALTA LA LINEA */ 
}


/* ES CON "." A DIFERENCIA DE ANTES , PORQUE ES DE CLASE"*/
.detalles-projectos{
    border: 1px solid rgb(146, 116, 170); /* BORDE AL REDEDOR */
    display: flex; /* PERMITE COLOCAR EN FILAS Y COLUMNAS LOS ELEMENTOS DE LA SECCION*/
}

/* IMAGENES DENTRO DE CLASES DETALLE PROJECTOS */ 
.detalles-projectos img{
    width: 200PX; /* ANCHO DEL 50% DEL CONTENEDOR*/
}

h2{
    font-size: 45px;
    text-align: center;
}

/* ESTILOS AL UL DENTRO DEL NAV */
nav ul{
    display: flex;  /* UNO AL LADO DEL OTRO */
    justify-content: center; /* CENTRADO EN LA PAGINA*/
}

/* ESTILOS A LOS ITEM DENTRO DE LA LISTA ORDENADA DENTRO DEL NAV */
nav ul li{
    margin-left: 5PX; /* MARGEN IZQUIERDO 20PX*/
    margin-right: 5PX; /* MARGEN DERECHO 20PX*/
    padding:10PX 10PX; /* 10PX (ARRIBA Y ABAJO) Y IZQUIERDA DERECHA (20PX)*/
    background-color: antiquewhite; /* CAJITA CON MARGENES A LOS LADOS */

}

/* estilos a HEADER */

header{
    width: 576px;
    top: 0; /* ARRIBA , SE QUEDA FIJO */ /* SI LA PAGINA ES SCROLLEABLE */
    background-image: url('../imagenes/fondolindo.jpg');
}

header h1{
    font-family: 'Kaushan Script', cursive;
font-size: 25PX;
color: rgb(238, 174, 208);
}

/* estilos a BODY */
body{
    width: 576px;
    background-color: pink; /* color de fondo */
}

.videos{
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 576px;
    margin: 10px auto;
    padding: 1rem;
    background-color:rgb(218, 161, 196);
    border: 4px solid rgb(217, 133, 224);   
    font-family: 'Bungee Spice', cursive;
}

input{
    padding: 10px 0;
    width: 100%;
    
}

textarea{ 
    width: 100%;
    margin-bottom: 10px;
    border: none;
    resize:vertical; 
    min-height:120px; 
}

.boton{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.boton:hover{
    color:#ff3381;
}

footer{
    width: 650px;
    display: flex;  /* UNO AL LADO DEL OTRO */
    justify-content: center; /* CENTRADO EN LA PAGINA*/
    background-color: grey;

}

/* MEDIDAS PARA PC */ 
@media screen and (min-width: 992px){
main div p {
    width: 1920px;
 }

 main div h3{
    font-size: 40px;
 }

 main h2{
    font-size: 50px;
 }


.detalles-projectos img{
    width: 15%; 
}

h2{
    font-size: 30px;
}


nav ul li{
    margin-left: 20px; /* MARGEN IZQUIERDO 20PX*/
    margin-right: 20px; /* MARGEN DERECHO 20PX*/
}

header{
    width: 1920px;
}

header h1{
font-size: 40px;
}

body{
    width: 1920px;
}

.videos{
    width: 1920px;
}

form {
    width: 1000px;
    margin: 30px auto; 
}

textarea{ 
    width: 1000px;
}


.boton:hover{
    color:#ff3381;
}

footer{
    width: 1920px;
}

}
